<!doctype html>
<html ng-app='standalone'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="standalone.js"></script>
  </head>
  <body ng-controller="StandaloneBroker as standalone">
    <div>
	  <button ng-click="standalone.start()">Start</button>
	  <button ng-click="standalone.stop()">Stop</button>
	  <! -- if broker not started, display text box. Once started, display status box. -->
	  Broker port: <input type="text" value="3000" >
	  <div>
      <span>Broker status: {{standalone.status()}}</span>
	  </div>
    </div>
  </body>
</html>